body {
    background-color: gray;
    margin: 0;

}
a:link {color: 595959;
text-decoration: none;}
@font-face {font-family: font1;
    src: url(font1.otf);}
@font-face{ font-family: font2;
    src: url(font2.otf);
}    
.tagline
{
color: whitesmoke;
font-family: font2;
text-align: center;
padding-bottom: 20px;
font-size: 20;


}
h1 {color: white; 
    text-align: center;
    font-size: 50;
    letter-spacing: 3px;
    padding-top:  20px;
    padding-bottom: 0%
    padding-left: 20px;
font-family: font1;}
.navbar
{background-color: #404040;
line-height: 0.4;
margin-bottom: 0;
padding-top: 2;
width: 100%;
position: fixed;}
.nav1{height: 50px;
background-color: F2F2F2;
position: relative;
top: 140;
width: 100%;
}

li {display: inline-block;
    padding: 14px 40px;
    overflow: hidden;
    vertical-align: middle;
    font-family: futura;
    font-size: 25;
    letter-spacing: 2px;

font-family: font2;
font-weight: 100;
}
ul {list-style-type: none;
text-align: center;
margin: 0%;
  vertical-align: middle;
}
.footer 
{
background-color: 252525;
position: fixed;
bottom: 0px;
width: 100%;

}
